.App {
  text-align: center;
}

h6,h2 {
  animation: App-logo-spin infinite 2s linear;
  height: 4vmin;
  pointer-events: none;
}

img {
  background-color: #282c34;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h6,h2 {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
